<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="shortcut icon" href="../images/logo2.jpg" type="image/x-icon" />

    <link rel="stylesheet" href="../styles/cart.css" />
    <title>Cart</title>
  </head>
  <body>
    <header>
      <div class="logodiv">
        <span class="show_menu"
          ><img src="../images/more.png" alt="show menu"
        /></span>
        <h1 class="logo"><a href="../index.html">MKart.</a></h1>

        <div class="modal disabled">
          <div class="relative">
            <button id="close">X</button>
            <ul class="modal_navbar">
              <li><a href="../index.html">HOME</a></li>
              <li><a href="./cart.html">CART</a></li>
              <li><a href="./contact.html">CONTACT US</a></li>
              <li><a href="./about.html">ABOUT</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="search">
        <select name="all" id="all">
          <option value="All">All</option>
          <option value="electronics">Electronics</option>
          <option value="jewelery">Jewelery</option>
          <option value="men's clothing">Men's clothing</option>
        </select>
        <input
          type="text"
          oninput="handleInput(this)"
          placeholder="Search items here...."
          id="input"
          class="input"
        />
        <button
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
          "
        >
          <img
            class="searchbutton"
            src="../images/search-interface-symbol (2).png"
            style="width: 30px"
            alt=""
          />
        </button>
      </div>

      <ul class="navbar">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="cart.html">CART</a></li>
        <li><a href="./contact.html">CONTACT US</a></li>
        <li><a href="./about.html">ABOUT</a></li>
      </ul>
    </header>
    <div class="page_title">
      <h1>CART</h1>
    </div>
    <div class="contaienr">
      <div class="products"></div>
    </div>

    <script src="../scripts/cart.js" type="module"></script>
  </body>
</html>
