<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/index.css" />
    <link rel="shortcut icon" href="../images/logo2.jpg" type="image/x-icon" />

    <title>CONTACT</title>
  </head>
  <body>
    <header>
      <div class="logodiv">
        <span class="show_menu"
          ><img src="../images/more.png" alt="show menu"
        /></span>
        <h1 class="logo"><a href="../index.html">MKart.</a></h1>

        <div class="modal disabled">
          <div class="relative">
            <button id="close">X</button>
            <ul class="modal_navbar">
              <li><a href="../index.html">HOME</a></li>
              <li><a href="./cart.html">CART</a></li>
              <li><a href="./contact.html">CONTACT US</a></li>
              <li><a href="./about.html">ABOUT</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="search">
        <input
          type="text"
          oninput="handleInput(this)"
          placeholder="Search items here...."
          id="input"
          class="input"
        />
        <button
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
          "
        >
          <img
            class="searchbutton"
            src="../images/search-interface-symbol (2).png"
            style="width: 30px"
            alt=""
          />
        </button>
      </div>

      <ul class="navbar">
        <li><a href="../index.html">HOME</a></li>
        <li><a href="./cart.html">CART</a></li>
        <li><a href="./contact.html">CONTACT US</a></li>
        <li><a href="./about.html">ABOUT</a></li>
      </ul>
    </header>
    <div class="page_title">
      <h1>CONTACT PAGE</h1>
    </div>

    <div class="form_container">
      <form action="">
        <div class="formcontrol">
          <label for="name">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter your name..."
          />
        </div>
        <div class="formcontrol">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email..."
          />
        </div>
        <div class="formcontrol">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            cols="38"
            rows="10"
            placeholder="Type your message here..."
          ></textarea>
        </div>

        <div class="formcontrol">
          <input type="submit" value="Forward Message" />
        </div>
      </form>
    </div>

    <script src="../scripts/contact.js"></script>
  </body>
</html>
